<h1><%= @question.title %></h1>
<h3>Category: <%= @question.category_name%></h3>
<p>Created by: <%= @question.user_full_name %></p>

<p><%= @question.body %></p>

<p><%= @question.created_at %></p>

<p>View Count:
  <%= @question.view_count %>
</p>
<p>Likes: <%= @question.likes.count %></p>
<p>Favorites: <%= @question.favorites.count %></p>
<p>Tags: <%= @question.tag_names.join(", ")%></p>
<hr>

<% vote = @question.vote_for(current_user) %>
<% if !vote %>
  <%= link_to fa_icon("arrow-up"), question_votes_path(@question, {vote: {is_up: true}}), method: :post, style: "font-size: 35px;" %>
  (<%= @question.vote_result %>)
  <%= link_to fa_icon("arrow-down"), question_votes_path(@question, {vote: {is_up: false}}), method: :post, style: "font-size: 35px;" %>
<% elsif vote.is_up? %>
  <%= link_to fa_icon("times"), question_vote_path(@question, vote), method: :delete, style: "font-size: 35px;" %>
  (<%= @question.vote_result %>)
  <%= link_to fa_icon("arrow-down"), question_vote_path(@question, vote, {vote: {is_up: false}}), method: :patch, style: "font-size: 35px;" %>
<% else %>
  <%= link_to fa_icon("arrow-up"), question_vote_path(@question, vote, {vote: {is_up: true}}), method: :patch, style: "font-size: 35px;" %>
  (<%= @question.vote_result %>)
  <%= link_to fa_icon("times"), question_vote_path(@question, vote), method: :delete, style: "font-size: 35px;" %>
<% end %>

<div id="question-like">
  <%= render "/likes/question_like" %>
</div>

<div id="question-favorite">
  <%= render "/favorites/question_favorite" %>
</div>

<% if can? :edit, @question %>
<%= link_to "Edit", edit_question_path(@question) %>
<% end %>

<% if can? :destroy, @question %>
<%= link_to "Delete", question_path(@question), method: :delete, data: {confirm: "Are you sure"} %>
<% end %>

<h3>Create an Answer</h3>

<div id="answer-form">
  <%= render "/answers/form" %>
</div>

<h2>Answers</h2>

<div class="answers">
  <% @question.answers.each do |answer|%>
    <%= render "/answers/answer", answer: answer %>
  <% end %>
</div>

<%# we can use the form after overriding th url parameter. the downside to it
is that it own't work for edit situation - only for create. so we can't
reuse it if we decide to implement editing answers %>
<%#= form_for @answer, url: question_answers_path(@question) do |f| %>
<%# end %>

<%# passing an arry to the form_for is a better approach for creating nested
resources. this approach will work for both new and edit situations. so if
@answer is not persisted it will send a POST request to
question_answers_path(@question). and if @answer is persisted it will send a
PATCH request to question_answer_path(@question, @answer)  %>
<%#= form_for [@question, @answer], remote: true do |f| %>
  <!-- <div> -->
    <%#= f.label :body %>
    <%#= f.text_area :body %>
  <!-- </div> -->
  <%#= f.submit %>
<%# end %>
