<!DOCTYPE html>
<html>
<head>
  <title>Ask Amy</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script>
      initMap = function() {
        var myLocation =  new google.maps.LatLng(49.282270, -123.108509);

        var mapProp = {
          center:         myLocation,
          zoom:           17,
          scrollwheel:    false,
          draggable:      false,
          mapTypeId:      google.maps.MapTypeId.ROADMAP
          };

        var mapDiv =      document.getElementById('map');
        var map =         new google.maps.Map(mapDiv, mapProp);

        var marker =      new google.maps.Marker({
          position:       myLocation,
          icon:           'https://maps.google.com/mapfiles/kml/shapes/schools_maps.png'
        });
        marker.setMap(map);

        var infowindow =  new google.maps.InfoWindow({content:"CodeCore"});
        infowindow.open(map,marker);
      }

      google.maps.event.addDomListener(window, 'load', initMap);

    </script>
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="50">

<!-- <a href="/hello">Hello</a> |
<a href="/about">About</a> | -->
<%# hello_path & about_path are called route helpers. They get generated from
    the content of `routes.rb` and they are methods that can be used in
    all view files and all controllers %>
<!-- <a href="<%= hello_path %>">Hello</a> |
<a href="<%= about_path %>">About</a> |
<a href="<%= greet_path('Kaia') %>">Greet Kaia</a> | -->
<!-- put in hash if you have to pass it multiple params later on -->
<!-- <a href="<%= greet_path({name: 'John'}) %>">Greet John</a> | -->

<!-- <%= link_to "Hello", hello_path %> | -->
<!-- <%#= link_to "Subscribe", subscribe_path %> | -->
<!-- <%#= link_to "All Questions", questions_path %> | -->
<!-- <%#= link_to "New Question", new_question_path %> | -->

<%# if user_signed_in? %>
  <!-- Hello <%#= current_user.first_name %> | -->
  <!-- <%#= link_to "Log Out", sessions_path, method: :delete, data: {confirm: "Are you sure"} %> | -->
<%# else %>
  <!-- <%#= link_to "Log In", new_session_path %> | -->
  <!-- <%#= link_to "Sign Up", new_user_path %> | -->
<%# end %>

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <a href="#" class="navbar-left"><%= image_tag "logo.png" %></a>
    <!-- <a href="#" class="navbar-left navbar-brand">Awesome Answers</a> -->
    <%= link_to "Ask Amy", hello_path, class: "navbar-left navbar-brand" %>
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "About", about_path%></li>
      <li><%= link_to "Greet Kaia", greet_path('Kaia') %></li>
      <li><%= link_to "All Questions", questions_path %> </li>
      <li><%= link_to "New Question", new_question_path %></li>
      <% if user_signed_in? %>
        <li><a href="#">Hello <%= current_user.first_name %></a></li>
        <li><%= link_to "Favorites", favorites_path %></li>
        <li><%= link_to "Log Out", sessions_path, method: :delete, data: {confirm: "Are you sure"} %></li>
      <% else %>
        <li><%= link_to "Log In", new_session_path %></li>
        <li><%= link_to "Log In with Twitter", sign_in_with_twitter_path %></li>
        <li><%= link_to "Sign Up", new_user_path %></li>
      <% end %>
    </ul>
  </div>
</nav>
<% if notice %>
  <div class="alert alert-success"><%= notice %></div>
<% end %>
<% if alert %>
  <div class="alert alert-danger"><%= alert %></div>
<% end %>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <%= yield %>
    </div>
  </div>
</div>

<footer class="container-fluid text-center">
  <a href="#"><i class="fa fa-facebook"></i></a>
  <a href="#"><i class="fa fa-twitter"></i></a>
  <a href="#"><i class="fa fa-linkedin"></i></a>
  <a href="#"><i class="fa fa-google"></i>+</a>
  <p>&copy; 2016, Created by Kaia Olson</p>
</footer>
</body>
</html>
